.banner_alani{
    width: 100%;
    background:  #f9f9f7;
}
.banner_alani img {
    width: 100%;
    height: 870px;
    object-fit: cover;
}
.rezervasyon_kutusu {
	position: relative;
	margin: 0 auto;
	margin-top: 12px;
	margin-bottom: 20px;
	z-index: 50;
	display: flex;
	gap: 20px;
	align-items: flex-end;
	background: #ffffff;
	padding: 15px 25px;
	border-radius: 4px;
	box-shadow: 0 8px 24px rgba(0,0,0,0.15);
	max-width: 900px;
}
.detaylar_butonu {
	width: 60px;
    height: 22px;
	display: inline-block;
	color: white;
    text-align: center;
	transition: transform 0.2s ease;
    border-radius: 5px;
    background-color: #7b6e62;
	margin-top: 12px;
	font-weight: 650;
	font-size: 13px;
}
.detaylar_butonu:hover {
	background-color: black;
    transform: scale(1.03);
}
.geridon_butonu {
	display: inline-block;
	margin-top: 12px;
	color:tomato;
	font-weight: 650;
	font-size: 13px;
	transition: transform 0.2s ease;
	/*butonu sağ alta yaslar. alttaki iki komut*/
	align-self: flex-end;
	margin-left: auto;
}
.geridon_butonu:hover {
	color: brown;
    transform: scale(1.05);
}
.kartlar img {
    display: block;
    transition: transform 0.3s ease;
}
.kartlar img:hover {
    transform: scale(1.03);
}
.kartlar.odalar img:hover{
    transform: scale(1.00);
}
.kampanya_baslik{
	padding: 70px 0px 0px 130px;
	font-size:24px;
	font-weight:700;
	margin-bottom:16px;
}
.kampanya_kutusu,
.kampanya_icerik_kutusu{
	max-width:1300px;
	margin:28px auto;
	padding:5px;
	transition: transform 0.3s ease;
}
.kampanya_kutusu:hover{
	transform: scale(1.03);
}
.kampanya_satir{
	display:flex;
	align-items:center;
	gap:16px;
	background:#ffffff;
	padding:16px;
	border-radius:8px;
	box-shadow:0 6px 18px rgba(0,0,0,0.06)
}
.kampanya_resmi,
.kampanya_icerik_resmi{
	width:300px;
	flex:0 0 160px;
	border-radius:6px;
}
.kampanya_icerik{
	flex:1; /*boş alanı doldurur.*/
}
.kampanya_icerik h3{
	margin:0 0 6px;
	font-size:18px
}
.kampanya_icerik p{
	margin:0;
	text-align: justify;
	color:#6b645d;
}
.kampanya_icerik_kutusu.ozel{
	padding-bottom: 158px;
}
.spa .detaylar_butonu{
	/*butonu sağ alta yaslar. alttaki iki komut*/
	align-self: flex-end;
	margin-left: auto;
}
.acenteler{
	max-width:1300px;
	margin:15px auto;
	padding:12px;
	display:flex;
	flex-wrap:wrap;
	gap:18px; /*sabit boşluk verir.*/
	justify-content:space-between;
}
.acente{
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:8px;
	text-align:center;
  	border-radius: 8px;
  	padding: 12px;
  	box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  	transition: transform .5s ease;
}
.acente:hover{
	scale: 1.02;
  	box-shadow: 0 14px 34px rgba(0,0,0,0.12);
}
.logo{
	width:150px;
	height:100px;
}
.logo img{
	width:100%;
	height:100%;
	object-fit:contain;
	display:block;
}
.buton{
	display:inline-block;
	padding:8px 12px;
	background: #0F4A91;
	color:#ffffff;
	border-radius:9px;
	text-decoration:none;
	font-weight:800;
	font-size:13px;
	box-shadow:0 4px 14px rgba(15,74,145,0.14);
}
.buton:hover{
	background:#09366A;
	box-shadow:0 6px 18px rgba(20,62,107,0.2);
}